:root {
  --bg-main: #171717;
  --bg-sidebar: #0d0d0d;
  --text-primary: #ffffff;
  --text-secondary: #b4b4b4;
  --sidebar-border: #333333;
  --input-bg: #2f2f2f;
  --btn-check-bg: #ffffff;
  --btn-check-text: #000000;
}

:root[data-theme="light"] {
  --bg-main: #ffffff;
  --bg-sidebar: #f4f4f4;
  --text-primary: #000000;
  --text-secondary: #666666;
  --sidebar-border: #cccccc;
  --input-bg: #ffffff;
  --btn-check-bg: #000000;
  --btn-check-text: #ffffff;
}
body {
    background-color: var(--bg-main); 
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card {
    background-color: var(--bg-sidebar); 
    border: 1px solid var(--sidebar-border); 
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    }
h2 {
    color: #ffffff !important;
    font-weight: 600;
    }
.form-label {
    color: #e0e0e0 !important; 
    font-weight: 500;
    }
.form-control {
    background-color: #2d2d2d !important; 
    border: 1px solid #444 !important;
    color: #ffffff !important;
    }
.form-control::placeholder {
    color: #888 !important; 
}
.form-control:focus {
    background-color: #3d3d3d !important;
    border-color: #007bff !important;
    box-shadow: 0 0 0 0.25 hrgba(0, 123, 255, 0.25);
    }
.btn-custom {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    border: none;
}
.btn-custom:hover {
    background-color: #cccccc;
    transform: translateY(-2px);
}
.text-muted {
    color: #aaaaaa !important;
}
a.link-light-custom {
    color: #ffffff;
    text-decoration: underline;
}