body {
    background-color: #0f0f0f; 
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card {
    background-color: #1e1e1e; 
    border: 1px solid #333;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    }
h2 {
    color: #ffffff !important;
    font-weight: 600;
    }
.form-label {
    color: #e0e0e0 !important; 
    font-weight: 500;
    }
.form-control {
    background-color: #2d2d2d !important; 
    border: 1px solid #444 !important;
    color: #ffffff !important;
    }
.form-control::placeholder {
    color: #888 !important; 
}
.form-control:focus {
    background-color: #3d3d3d !important;
    border-color: #007bff !important;
    box-shadow: 0 0 0 0.25 hrgba(0, 123, 255, 0.25);
    }
.btn-custom {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    border: none;
}
.btn-custom:hover {
    background-color: #cccccc;
    transform: translateY(-2px);
}
.text-muted {
    color: #aaaaaa !important;
}
a.link-light-custom {
    color: #ffffff;
    text-decoration: underline;
}